
@{
  ViewBag.Title = "Home Page";
}
@model BirthdayCardHW.Models.BirthdayCardModel

<div class="jumbotron" style="background-color: black; color: lightgray">
  <h3>Birthday Card Generator</h3>
</div>
<div style="color: grey">
  <h1>Send a Birthday Card</h1>
</div>

@using (Html.BeginForm())
{
  @Html.ValidationSummary()
  <p><label>From:</label> 
    @Html.TextBoxFor(t => t.From, new { @class = "form-control", maxlength = 50, style = "width:300px;" })</p>
  <p><label>To:</label> 
    @Html.TextBoxFor(t => t.To, new { @class = "form-control", maxlength = 50, style = "width:300px;" })</p>
  <p><label>Message:</label> 
    @Html.TextBoxFor(t => t.Message, new { @class = "form-control", maxlength = 128, style = "width:300px;" })</p>

  <input class="btn btn-success" type="submit" value="Send Card" />
}
