@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Learning Center</h1>
    <p>The place for technology classes</p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>@Html.ActionLink("Class List", "Index", "Home")</h3>
    <p>See all of our class listings</p>
  </div>
    <div class="col-md-4">
      <!-- <p><a class="btn btn-link" href="">Your enrolled classes</a></p> -->
      <h3>@Html.ActionLink("Your enrolled classes", "Index", "Home")</h3>
      <p>See the classes you are enrolled in</p>
    </div>
    <div class="col-md-4">      
      <h3>@Html.ActionLink("Enroll in a class", "Index", "Home")</h3>
      <p>Take a new class</p>
    </div>
</div>